body {
    background: linear-gradient(to left, skyblue, rgb(96, 113, 224));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px yellow;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
}